.person {
  display: inline-block;
  width: 100%;
  position: relative;
  flex-direction: column;
  min-width: 0;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
}

.name {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.details {
  width: 100%;
  padding: 10px 5px;
  display: table;
}

.detail {
  display: table-row;
}

.title {
  font-weight: bold;

  &, .value {
    display: table-cell;
  }
}
